@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #22304f;
  border-radius: 4px;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
